[Unit]
Description=Run Cloudflare DDNS every 10 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Unit=cf-ddns.service

[Install]
WantedBy=timers.target
